@import "colors.css";

* {
    all: unset;
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
}

tooltip {
    background-color: @tokyo-background;
    color: @tokyo-purple;
    border-radius: 12px;
}

.modules-center {
    background-color: @tokyo-background;
    color: @tokyo-purple;
    padding: 4px 18px;
    border-radius: 99px;
}

#clock {
    font-weight: 500;
}

#workspaces {
    min-width: 100px;
    background-color: @tokyo-background;
    font-size: 0.95rem;
    padding: 2px 3px;
    margin: 2px 0;
    border-radius: 99px;
}

#workspaces button {
    background-color: @tokyo-purple;
    color: @tokyo-background;
    padding: 0px 5px;
    border-radius: 99px;
    margin: 0 2px;
    transition: all 300ms ease-in-out;
    min-width: 1rem;
}

/* #workspaces button.persistent { */
/*     color: @tokyo-background; */
/* } */
/**/
/* #workspaces button.empty { */
/*     color: @tokyo-background; */
/* } */

#workspaces button.active {
    background-color: @tokyo-blue;
    min-width: 1.5rem;
    font-weight: 500;
    transition: none;
}

